# .env
env
data/raw/
data/processed/
data/features/
data/clickhouse/
data/synthea/synthea-with-dependencies.jar
mlflow/artifacts/
logs/
__pycache__/
*.pyc
*.pyo
.DS_Store
*.egg-info/
dist/
build/
.pytest_cache/
*.ipynb_checkpoints/
